
#merc{
	position: absolute;
	top: 105em;
	left: 273em;
	width: 13em;
	height: 13em;
	
	border-radius:50%;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 0 4em #9a682e;
	z-index: 1;
	font-size: 4px;
  
  }
  #merc{
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(https://sun9-7.userapi.com/impg/uV1j4YRBM42tq5fj5nSo8gIUFxq49XFR5hEz6g/ll28CF1dmUE.jpg?size=508x509&quality=96&sign=215e79ee6de08d5dce5ecd7fc145e866&type=album);
  }
  #merc:hover{
	  position: absolute;
	top: 105.3em;
	left: 273em;
	width: 13em;
	height: 13em;
	
	border-radius:50%;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 0 5em #b36d28;
	z-index: 1;
	font-size: 4px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(https://sun9-7.userapi.com/impg/uV1j4YRBM42tq5fj5nSo8gIUFxq49XFR5hEz6g/ll28CF1dmUE.jpg?size=508x509&quality=96&sign=215e79ee6de08d5dce5ecd7fc145e866&type=album);
  }

  #infoMerc {
	border: 0px;
	display:none;
	padding:10px;
	background:#3d3d3d;
	height:120px;
	border-radius: 4px;
	box-shadow: 0px 0px 25px 0px #949494;
	margin: 0;
	text-align: center;
  }

  #merc:hover #infoMerc{
	display:block;
	position:absolute;
	top:-10em;
	z-index:1;
	width:450px;
	left: -10em;
	font: 22px/24px Arial,sans-sherif;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
  }
  #merc:hover #infoMerc h2{
	margin: 0 0 5px 0;
	font: 22px/24px Arial,sans-sherif;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	  
  }
  #merc:hover #infoMerc h3{
	margin: 0 0 15px 0;
	font: 14px/18px Arial,sans-sherif;
	text-transform: uppercase;
	color: rgba(255,255,255,0.7);
	  
  }
  #merc:hover #infoMerc ul{
	padding: 0;
	margin: 0;
	list-style: none;
	font: 13px/21px Arial,sans-sherif;
  }
  li {
	display: list-item;
	text-align: -webkit-match-parent;
  }
  #merc:hover #infoMerc ul .dt-left{
	float: left;
	text-align: right;
	width: 55%;
	padding: 0;
	margin: 0;
  }
  #merc:hover #infoMerc ul .dt-right{
	float: right;
	text-align: left;
	width: 40%;
	padding: 0;
	margin: 0 0 0 5%;
	font-weight: bold;
  }

  #MercText{
	position:absolute;
	top: 15.6em;
	left: 34.8em;
	font: 30px/26px Arial,sans-sherif;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	text-shadow: rgb(233, 140, 0) 0 0 10px;
  }
  #MercDist{
	position:relative;
	top: 10em;
	left: 23em;
	font: 30px/26px Arial,sans-sherif;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	text-shadow: rgb(255, 255, 255) 0 0 10px;
	}